@font-face {
	font-family: blackadder-ITC;
    src: 	url('page/fonts/BlackAdderITC.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: proxima-nova;
    src: 	url('fonts/ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: proxima-nova;
    src: 	url('fonts/ProximaNova-LightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: proxima-nova;
    src: 	url('page/fonts/ProximaNova.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: proxima-nova;
    src: 	url('fonts/ProximaNova-RegularIt.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: proxima-nova;
    src: 	url('fonts/ProximaNova-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: proxima-nova;
    src: 	url('fonts/ProximaNova-SemiboldIt.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: proxima-nova;
    src: 	url('page/fonts/ProximaNovaBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: proxima-nova;
    src: 	url('fonts/ProximaNova-BoldIt.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: proxima-nova;
    src: 	url('fonts/ProximaNova-Extrabld.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: proxima-nova;
    src: 	url('fonts/ProximaNova-ExtraBldIt.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: proxima-nova;
    src: 	url('fonts/ProximaNova-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: proxima-nova;
    src: 	url('fonts/ProximaNova-BlackIt.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}